@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */
  html {
    max-width: 100vw;
  }
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  html {
    max-width: 100vw;
  }
}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  html {
    max-width: 60vw;
    margin: auto;
    margin-top: 5vh;
  }
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  html {
    max-width: 60vw;
    margin: auto;
    margin-top: 5vh;
  }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
  html {
    max-width: 50vw;
    margin: auto;
    margin-top: 5vh;
  }
}
@media (min-width:1281px) { /* hi-res laptops and desktops */
  html {
    max-width: 50vw;
    margin: auto;
    margin-top: 5vh;
  }
}

/* @media (min-width: 1024px) {
html {
max-width: 50vw;
margin: auto;
margin-top: 5vh;
}
} */

body {
  background-color: #FFFB00;
  margin: 20px;
}

p {
  color: black;
  font-family: Helvetica;
  font-size: 18px;
}

h1 {
  color: black;
  font-family: Helvetica;
  font-size: 24px;
  font-weight: bold;
}

a {
  color: black;
  text-decoration: none;
}

.textmail-logo {
  width: 500px;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.footer-text {
  color: black;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
}

.italic {
  font-style: italic;
}
